<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Classics_2014.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Classics_2014.UserSettings>
            <setting name="graphNormal" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="graphWindOut" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="graphDirectionOut" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="graphBothOut" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="mySqlDataBaseServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="mySqlDataBaseName" serializeAs="String">
                <value>main</value>
            </setting>
            <setting name="mySqlDataBaseUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mySqlDataBasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="directoryMasterFile" serializeAs="String">
                <value />
            </setting>
            <setting name="userIsAdvanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userLockPassword" serializeAs="String">
                <value />
            </setting>
        </Classics_2014.UserSettings>
    </userSettings>
</configuration>