<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMS.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Classics_2014.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CMS.UserSettings>
            <setting name="graphNormal" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="graphWindOut" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="graphDirectionOut" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="graphBothOut" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="mySqlDataBaseServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="mySqlDataBaseName" serializeAs="String">
                <value>main</value>
            </setting>
            <setting name="mySqlDataBaseUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mySqlDataBasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="directoryMasterFile" serializeAs="String">
                <value />
            </setting>
            <setting name="userIsAdvanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userLockPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="flopsToMaintainColourDirection" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="flopsToMaintainColourSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="compHaltLength" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="sideTextStandarColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="sideTextWindOutColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="sideTextDirectionOutColour" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="AudioAlarmsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DangerWindSpeed" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DangerDirectionChange" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="DefaultTeamMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="scoreModifiedColour" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="scoreModifiedSelectedColour" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="scoreManualColour" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="scoreManualSelectedColour" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="scoreRejumpableColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="scoreRejumpableSelectedColour" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="scoreGoodLandingColour" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="scoreGoodLandingSelectedColour" serializeAs="String">
                <value>ForestGreen</value>
            </setting>
            <setting name="leaderboardTeamNameRowColour" serializeAs="String">
                <value>GradientInactiveCaption</value>
            </setting>
            <setting name="leaderboardTeamNameRowSelectedColour" serializeAs="String">
                <value>GradientActiveCaption</value>
            </setting>
        </CMS.UserSettings>
        <Classics_2014.UserSettings>
            <setting name="graphNormal" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="graphWindOut" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="graphDirectionOut" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="graphBothOut" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="mySqlDataBaseServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="mySqlDataBaseName" serializeAs="String">
                <value>main</value>
            </setting>
            <setting name="mySqlDataBaseUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mySqlDataBasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="directoryMasterFile" serializeAs="String">
                <value />
            </setting>
            <setting name="userIsAdvanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userLockPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="flopsToMaintainColourDirection" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="flopsToMaintainColourSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="compHaltLength" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="sideTextStandarColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="sideTextWindOutColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="sideTextDirectionOutColour" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="AudioAlarmsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DangerWindSpeed" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DangerDirectionChange" serializeAs="String">
                <value>90</value>
            </setting>
        </Classics_2014.UserSettings>
    </userSettings>
</configuration>